*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}

.cell.circle::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

footer a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.content-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.content-page h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.content-page h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 20px;
}

/* This class is no longer needed */

.content-page p {
    font-family: Calibri, sans-serif;
    margin-bottom: 10px;
    line-height: 1.6;
}

.top-nav {
    position: fixed;
    top: 20px;
    left: 20px;
}

.top-nav a, .content-page a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}

.top-nav a:hover, .content-page a:hover {
    text-decoration: underline;
}